# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/dubbo_api/target/
/dubbo_consumer/target/
/dubbo_provider/target/
/log.base_IS_UNDEFINED/
/.idea/codeStyles/
/dubbo_consumer/dubbo_consumer.iml
